/*Tags*/

body{
    background-image: linear-gradient(#B7C2F1,#9AB9F8,#BAFBFA,#F8FDFD,white,#FDD1F4);
	background-size: cover;	
}


h3{
	font-family: 'K2D', sans-serif;
	font-size: 30px;
}

b{
	font-family: 'Roboto Slab', serif;
	font-size: 55px;
	color: #6E0A0A;
	text-shadow: 7px 7px 7px #B7B2B2;

}


label{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	color: #0F0E0E;
}

/*End of tags*/

/*Classes*/


{
.content1
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;

}

.ur-page-header
{
	text-align: center;
	padding-top: 20px;
}


.page-footer
{
	background-color: black;
}

.navbar
{
	background-color: #000000;
	height: 75px;
}



hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.links
{
	padding-top: 10px;
	padding-left: 30px;
}


.fa-facebook:before
{
	height: 50px;
}

/*End of classes*/


/*IDs*/

#container
{
	/*border: 2px solid #BB8CC1;*/
	margin:20px auto;
	width: 900px;
    padding: 20px;
    /*border-radius: 25px;*/


	/*width:350px;height:200px;*/
	border: solid 1px #555;
	background-color: #eed;
	box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
	-moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
	-o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
	border-radius:25px;

	

}


#container2
{
	width: 500px;
	text-align: center;
	margin: 20px auto;


}

#box{
	width: 700px;
	height: 300px;
	align-self: center;
	text-align: center;
	margin: 20px auto;
	padding: 20px;
	border: solid 1px #555;
	background-color: #eed;
	box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
	-moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
	-o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
}



#b1{
	margin-left: 140px;
	color: #262424;
	width: 1000px;
	text-align: center;
	font-size: 62px;
	border-width: 0px;
	box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    text-shadow: 7px 7px 7px #B7B2B2;
}

#button2{
    color: white;
	background-color: #f44336;
	border-radius: 5px;
	width: 150px;
	height: 50px;
}
#button2:hover{
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
#logo
{
	height: 50px;
	width: 100px;
}



#logo1
{
	height: 75px;
}
#logof
{
	height: 150px;
  border-radius: 300px;

}

#footer
{
	width: 100%;
}

#links
{
	width: 200px;
	margin:20px auto;
	text-align: left;

}

#social
{
	margin-top: 50px
}

#bs-example-navbar-collapse-1
{
	background-color: black;
}

/*End of IDs*/

